Source: libcam1394
Section: libs
Priority: optional
Maintainer: Hiromasa YOSHIMOTO <yosimoto@users.sf.net>
Build-Depends: debhelper (>= 5), autotools-dev, libraw1394-dev
Standards-Version: 3.7.2

Package: libcam1394-dev
Section: libdevel
Architecture: any
Depends: libcam1394 (= ${Source-Version})
Description: library for IEEE1394-based digital camera.
 libcam1394 is a library for IEEE1394-based digital camera.
 This package contains development files.

Package: libcam1394
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: library for IEEE1394-based digital camera.
 libcam1394 is a library for IEEE1394-based digital camera.
 This package contains shared libraries.